@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata', sans-serif;
    font-size: 32px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    background-color: black;
    color: gold;
    font-size: 2rem;
    text-align: center;
    transition: 0.1s;
}

h1:hover {
    background-color: gold;
    color: black;
    transition: 0.1s;
}

#sausageTips {
    margin: 5px;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#list {
    border: solid black;
}

#recipes {
    text-align: left;
    border: solid black;
}

li {
    display: block;
    border: solid black;
}