@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata', sans-serif;
    font-size: 32px;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    background-color: black;
    color: gold;
    font-size: 2rem;
    text-align: center;
    transition: 0.1s;
}

h1:hover {
    background-color: gold;
    color: black;
    transition: 0.1s;
}

#sausageTips {
    margin: 5px 0;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#recipes {
    text-align: center;
    padding: 0;
}

li {
    text-align: center;
    display: block;
    margin: 10px 0;
}

li a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    text-decoration: none;
    color: black;
    background-color: gold;
    width: 25%;
    transition: 0.3s;
}

li a:hover {
    border: solid gold;
    color: gold;
    background-color: black;
    transform: translate(-5px, -5px);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}